body{
    background-color: black;
    color:white
}

.container{
    display: flex;
    justify-content: space-between;
    
}

.add_item{
    margin-right: 60px;
}


.card{
    min-height: 400px;
    height: auto;
    background-color: white;
    width: 300px;
    border-radius: 30px;
    padding: 10px;
}