/* *{
    color:white;
} */
.card{
    min-height: 400px;
    height: auto;
    background-color: white;
    color: red;
    width: 300px;
    border-radius: 30px;
    padding: 3px;
    /* dis */
    font-family: sans-serif;
}
.card:hover{
    box-shadow: 4px 4px 20px red;
}

body{
    color:white;
    background-color: black;
}
#card_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
  
    
}
.title_container{
    text-align: center;
}

.box{
    background-color: bisque;
    width: 400px;
    border-radius: 16px;
    padding: 15px;
    z-index: 2;
    position: fixed;
    margin: auto auto;
    color:black;
    margin-top: 20vh;
margin-right: 35rem;
/* margin-bottom: 50vh; */
margin-left: 35rem;
font-family: sans-serif;
height: 20vh;
text-align: center;

}

.parent_container{
    display: flex;
    justify-content: space-around;
}

.hide{
    display: none;
}

button.red_class{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 16px;
}
.red_font{
    color: red;
}
.blur{
    filter: blur(2px);
}